body{
    margin: 0;
}

.container{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
}

#header{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#nav-bar{
    width: 100%;
    max-width: 880px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
}

@media  (max-width: 770px ){
    .container{
        max-width: 680px;
    }
}