body{
    margin: 0;
}

header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.image{
    width: 100%;
    height: 50vh;
    background-size: cover;
    display: inline;
    flex-direction: column;
    justify-content: center;
}

#title{
    width: 100%;
    max-width: 880px;
    margin: 30px auto;
    text-align: center;
}

#img-div{
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

#image{
    display: block;
    width: auto;
    height: auto;
    margin: 0 auto;
    text-align: center;
    max-width: 220px;
}

#tribute-info{
    width: 100%;
    max-width: 880px;
    margin: 0 auto;
    text-align: center;
}