body{
    line-height: 1.6;
    margin: 0;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.header{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#title{
    width: 100%;
    max-width: 880px;
    margin: 0 auto;
    text-align: center;
}