body{
    line-height: 1.6;
    margin: 0;
}

.container {
    width: 100%;
    max-width: 880px;
    margin: 0 auto;
}

.header{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.header_text{
    width: 100%;
    max-width: 880px;
    margin: 0 auto;
    text-align: center;
}

.main{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#survey-form{
    background-color: #bbb;
}

.group{
    padding: 10px;
}